<div class="formbold-main-wrapper">
    <!-- Author: FormBold Team -->
    <!-- Learn More: https://formbold.com -->
    <div class="formbold-form-wrapper">
        <form action="https://formbold.com/s/FORM_ID" method="POST">

            <div class="flex flex-wrap formbold--mx-3 formbold-mb-5">
                <div class="w-full sm:w-half formbold-px-3">
                    <label for="name" class="formbold-form-label"> Họ và Tên </label>
                    <input
                            type="text"
                            name="name"
                            id="name"
                            placeholder="Nhập họ và tên"
                            class="formbold-form-input"
                    />
                </div>
                <div class="w-full sm:w-half formbold-px-3">
                    <label for="phone" class="formbold-form-label"> Số điện thoại </label>
                    <input
                            type="text"
                            name="phone"
                            id="phone"
                            placeholder="Nhập số điện thoại của bạn"
                            class="formbold-form-input"
                    />
                </div>
            </div>
                {# <label for="email" class="formbold-form-label"> Email Address </label>#}
                {# <input#}
                {# type="email"#}
                {# name="email"#}
                {# id="email"#}
                {# placeholder="Enter your email"#}
                {# class="formbold-form-input"#}
                {# />#}


            <div class="formbold-mb-5">
                <label class="formbold-form-label"
                >Loại xe</label
                >
                <select
                        name="preferred-shift"
                        id="preferred-shift"
                        class="form-select"
                >
                </select>
            </div>

            <div class="form-group">
                <label for="liked-most" class="formbold-form-label"
                >Tình trạng xe</label
                >
                <textarea
                        name="liked-most"
                        id="liked-most"
                        rows="3"
                        class="form-textarea"
                ></textarea>
            </div>
            <div class="flex flex-wrap formbold--mx-3 formbold-pt-5 formbold-mb-5">
                <div class="w-full sm:w-half formbold-px-3">
                    <div class="formbold-mb-5 w-full">
                        <label for="date" class="formbold-form-label"> Ngày đặt sửa </label>
                        <input
                                type="date"
                                name="date"
                                id="date"
                                class="formbold-form-input"
                        />
                    </div>
                </div>
                <div class="w-full sm:w-half formbold-px-3">
                    <div class="formbold-mb-5">
                        <label for="time" class="formbold-form-label"> Thời gian đến </label>
                        <input
                                type="time"
                                name="time"
                                id="time"
                                class="formbold-form-input"
                        />
                    </div>
                </div>
            </div>

            <div>
                <button class="formbold-btn">Đặt lịch</button>
            </div>
        </form>
    </div>
</div>
<style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body {
      font-family: "Inter", Arial, Helvetica, sans-serif;
    }
    .form-group {
          margin-bottom: 1.5rem; /* mb-6 */
      }

    .form-textarea {
          width: 100%;
          border-radius: 0.375rem; /* rounded-md */
          border: 1px solid #d1d5db; /* border-gray-300 */
          padding: 0.75rem; /* p-3 */
          font-size: 0.875rem; /* text-sm */
          color: #1f2937; /* text-gray-800 */
          box-sizing: border-box;
          transition: border-color 0.2s, box-shadow 0.2s;
      }

    .formbold-mb-5 {
      margin-bottom: 20px;
    }
    .formbold-pt-3 {
      padding-top: 12px;
    }
    .formbold-main-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 48px;
    }

    .formbold-form-wrapper {
      margin: 0 auto;
      max-width: 550px;
      width: 100%;
      background: transparent;
    }
    .formbold-form-label {
      display: block;
      font-weight: 500;
      font-size: 16px;
      color: #07074d;
      margin-bottom: 12px;
    }
    .formbold-form-label-2 {
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 20px;
    }

    .formbold-form-input {
      width: 100%;
      padding: 12px 24px;
      border-radius: 6px;
      border: 1px solid #e0e0e0;
      background: white;
      font-weight: 500;
      font-size: 16px;
      color: #6b7280;
      outline: none;
      resize: none;
    }
    .formbold-form-input:focus {
      border-color: #6a64f1;
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
    }

    .formbold-btn {
      text-align: center;
      font-size: 16px;
      border-radius: 6px;
      padding: 14px 32px;
      border: none;
      font-weight: 600;
      background-color: #6a64f1;
      color: white;
      width: 100%;
      cursor: pointer;
    }
    .formbold-btn:hover {
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
    }

    .formbold--mx-3 {
      margin-left: -12px;
      margin-right: -12px;
    }
    .formbold-px-3 {
      padding-left: 12px;
      padding-right: 12px;
    }
    .flex {
      display: flex;
    }
    .flex-wrap {
      flex-wrap: wrap;
    }
    .w-full {
      width: 100%;
    }
    @media (min-width: 540px) {
      .sm\:w-half {
        width: 50%;
      }
    }
</style>