<div class="sidebar">
    <div class="logo">
        <span>SUA XE 3TL</span>
    </div>
    <a href="/" class="nav-item {{'active' if page == 'home' else ''}}">
        <i class="bi bi-house-door-fill"></i>
        <span>Trang chủ</span>
    </a>
    <a href="/components" class="nav-item {{'active' if page == 'components' else ''}}">
        <i class="bi bi-arrow-left-right"></i>
        <span>Linh kiện</span>
    </a>

    <a href="/appointment" class="nav-item {{'active' if page == 'Đặt lịch sửa xe' else ''}}">
        <i class="bi bi-arrow-left-right"></i>
        <span>Đặt lịch sửa xe</span>
    </a>

    {% if current_user.is_authenticated %}
    <a href="/" class="nav-item">
        {{current_user.name}}
    </a>
    <a href="{{ url_for('signin.signout') }}" class="nav-item">
        <i class="bi bi-box-arrow-right"></i>
        <span>Đăng xuất</span>
    </a>
    {% else %}
    <a href="/signin" class="nav-item {{'active' if page == 'account' else ''}}">
        <i class="bi bi-person-circle"></i>
        <span>Tài Khoản</span>
    </a>
    {% endif %}

</div>