{% extends 'layout/base.html' %}


{% block content %}
    <div class="row">
        {% for p in prods %}
            <div class="col-md-3 col-12" style="padding:0.7rem">
                <div class="card h-100 d-flex flex-column">
                    <img class="card-img-top" src="{{ p.image }}" alt="{{ p.name }}">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ p.name }}</h5>
                        <p class="card-text">{{ p.price }}</p>
                        <div class="mt-auto d-flex gap-2">
                            <a href="/products/{{p.id}}" class="btn btn-primary">Xem chi tiết</a>
                            <a href="#" class="btn btn-danger" onclick="addToCart({{p.id}},'{{ p.name }}',{{ p.price }})">Đặt hàng</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
